.body_bg{
    background-image: url("https://i.guim.co.uk/img/media/d0105731685e5b2b3daecf2fa00c9affaba832f1/0_0_2560_1536/master/2560.jpg?width=620&quality=85&auto=format&fit=max&s=b4d412898da99d35144de08ca97d6f4d");
    text-align: center;
}

#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}

#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}